<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="oasis.data.search.SearchMapper">

    <select id="getArtDetailById" resultMap="ArticlePO">
        select *
        from article_info arInfo
        where arInfo.doc_id = #{docId}
    </select>

    <update id="incKeyWordCount">
        update keyword_info set keyword_search_count = keyword_search_count + 1
        where keyword = #{keyWord}
    </update>

    <select id="getAllDocId" resultType="integer">
        select doc_id from article_info;
    </select>

    <select id="getDocIdByAuthorList" resultType="java.lang.Integer">
        select arInfo.doc_id
        from
            article_info arInfo,
            (select author_id from author_info where author_name in ( ${authorList} )) auid,
            article_to_author atau
        where atau.author_id = auid.author_id and atau.doc_id = arInfo.doc_id;
    </select>

    <select id="getDocIdByTheAuthor" resultType="java.lang.Integer">
        select distinct arInfo.doc_id
        from
            article_info arInfo,
            (select author_id from author_info where author_name REGEXP #{author}) auid,
            article_to_author atau
        where atau.author_id = auid.author_id and atau.doc_id = arInfo.doc_id;
    </select>

    <select id="getDocIdByAffiliationList" resultType="java.lang.Integer">
        select arInfo.doc_id
        from
            article_info arInfo,
            (select affiliation_id from affiliation_info where affiliation_name in ( ${affiliationList} )) afid,
            article_to_affiliation ataf
        where ataf.affiliation_id = afid.affiliation_id and ataf.doc_id = arInfo.doc_id;
    </select>

    <select id="getDocIdByTheAffiliation" resultType="java.lang.Integer">
        select distinct arInfo.doc_id
        from
            article_info arInfo,
            (select affiliation_id from affiliation_info where affiliation_name REGEXP #{affiliation}) afid,
            article_to_affiliation ataf
        where ataf.affiliation_id = afid.affiliation_id and ataf.doc_id = arInfo.doc_id;
    </select>

    <select id="getDocIdByKeyWordList" resultType="java.lang.Integer">
        select arInfo.doc_id
        from
            article_info arInfo,
            (select keyword_id from keyword_info where keyword in ( ${keyWordList} )) kid,
            article_to_keyword atk
        where atk.keyword_id = kid.keyword_id and atk.doc_id = arInfo.doc_id;
    </select>

    <select id="getDocIdByTheKeyWord" resultType="java.lang.Integer">
        select distinct arInfo.doc_id
        from
            article_info arInfo,
            (select keyword_id from keyword_info where keyword REGEXP #{keyWord}) kid,
            article_to_keyword atk
        where atk.keyword_id = kid.keyword_id and atk.doc_id = arInfo.doc_id;
    </select>

    <select id="getDocIdByPublicName" resultType="java.lang.Integer">
        select arInfo.doc_id
        from
            article_info arInfo,
            (select publication_id from publication_info where publication_title REGEXP #{publication} or publication_type = #{publication}) pid
        where pid.publication_id = arInfo.publication_id;
    </select>

    <select id="getDocIdByPublicYear" resultType="java.lang.Integer">
        select arInfo.doc_id
        from
            article_info arInfo,
            (select publication_id from publication_info where publication_year between #{startTime} and #{endTime}) pid
        where pid.publication_id = arInfo.publication_id;
    </select>

    <select id="hasTheArticle" resultType="boolean">
        select count(*)
        from article_info
        where doc_id = #{docId};
    </select>

    <select id="hasTheAuthor" resultType="boolean">
        select count(*)
        from author_info
        where author_name in ( ${authorList} );
    </select>

    <select id="hasTheAffiliation" resultType="boolean">
        select count(*)
        from affiliation_info
        where affiliation_name in ( ${affiliationList} );
    </select>

    <select id="hasTheKeyWord" resultType="boolean">
        select count(*)
        from keyword_info
        where keyword in ( ${keyWordList} );
    </select>

    <select id="hasThePublication" resultType="boolean">
        select count(*)
        from publication_info
        where publication_title REGEXP #{publication} or publication_type = #{publication};
    </select>

    <select id="hasThePublicYear" resultType="boolean">
        select count(*)
        from publication_info
        where publication_year between #{startTime} and #{endTime};
    </select>

    <resultMap id="ArticlePO" type="oasis.entity.ArticlePO">
        <result property="docId" column="doc_id"/>
        <result property="docTitle" column="doc_title"/>
        <result property="publicationId" column="publication_id"/>
        <result property="startPage" column="startpage"/>
        <result property="endPage" column="endpage"/>
        <result property="docAbstract" column="doc_abstract"/>
        <result property="pdfLink" column="pdf_link"/>
        <result property="doi" column="doi"/>
        <result property="reference" column="reference_count"/>
        <result property="citation" column="citation"/>
        <result property="publisher" column="publisher"/>
        <result property="docIdentifier" column="doc_identifier"/>
        <result property="searchCount" column="search_count"/>
    </resultMap>

</mapper>