<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="oasis.data.mapping.MappingMapper">

    <select id="getKeyWordsIdList" resultType="integer">
        select distinct keyword_id
        from article_to_keyword
        where doc_id = #{docId};
    </select>

    <select id="getAuthorsIdList" resultType="integer">
        select distinct author_id
        from article_to_author
        where doc_id = #{docId};
    </select>

    <select id="getAffiliationIdList" resultType="integer">
        select distinct affiliation_id
        from article_to_affiliation
        where doc_id = #{docId};
    </select>

    <select id="getArtIdByAuthorId" resultType="integer">
        select distinct doc_id
        from article_to_author
        where author_id = #{authorId};
    </select>

    <select id="getArtIdByAffiliationId" resultType="integer">
        select doc_id
        from article_to_affiliation
        where affiliation_id = #{affiliationId};
    </select>

    <select id="getArtIdByKeywordId" resultType="integer">
        select doc_id
        from article_to_keyword
        where keyword_id = #{keywordId};
    </select>

    <select id="getArtIdByPublicationId" resultType="integer">
        select doc_id
        from article_info
        where publication_id = #{publicationId};
    </select>

    <select id="getKeyWordById" resultType="string">
        select keyword
        from keyword_info
        where keyword_id = #{keyWordId};
    </select>

    <select id="getAuthorById" resultType="string">
        select author_name
        from author_info
        where author_id = #{authorId};
    </select>

    <select id="getAffiliationById" resultType="string">
        select affiliation_name
        from affiliation_info
        where affiliation_id = #{affiliationId};
    </select>

    <select id="getPublicationTitleById" resultType="string">
        select publication_title
        from publication_info
        where publication_id = #{publicationId};
    </select>

    <select id="getPublicationYearById" resultType="string">
        select publication_year
        from publication_info
        where publication_id = #{publicationId};
    </select>

    <select id="getSubAuthorNum" resultType="integer">
        select count(author_id) from author_info where affiliation_id = #{affiliationId};
    </select>

    <select id="getKeyWordIdByName" parameterType="string" resultType="int">
        select keyword_id
        from keyword_info
        where keyword=#{keyword};
    </select>
    
    <select id="getPublicationIdByName" parameterType="string" resultType="int">
        select publication_id
        from publication_info
        where publication_title = #{publicationName}
    </select>

    <select id="getPublicationIdsByType" resultType="integer">
        select publication_id
        from publication_info
        where publication_type = #{publicationTitle};
    </select>
    
    <select id="getAffiliationIdByName" parameterType="string" resultType="int">
        select affiliation_id
        from affiliation_info
        where affiliation_name = #{affiliationName}
    </select>

    <select id="getAseNum" resultType="integer">
        select count(doc_id)
        from article_info
        where doc_id in ( ${sqlList} ) and (publication_id between 1 and 5);
    </select>

    <select id="getIcseNum" resultType="integer">
        select count(doc_id)
        from article_info
        where doc_id in ( ${sqlList} ) and (publication_id between 6 and 10);
    </select>

    <select id="getDocYearByDocId" parameterType="int" resultType="string">
        select publish_year
        from article_info
        where doc_id=#{docId}
    </select>

    <select id="getReferenceByDocId" parameterType="int" resultType="int">
        select reference_count
        from  article_info
        where doc_id=#{docId}
    </select>

    <select id="getReferenceByYear" resultType="integer">
        select reference_count from article_info where publish_year = #{year};
    </select>

    <select id="getSubAuthors" resultMap="SubAuthorsPO">
        select author_name, author_id, author_hindex, author_activation
        from author_info
        where affiliation_id = #{affiliationId};
    </select>

    <select id="getDocIdListByKeywordAndYear" resultType="java.lang.Integer">
        select distinct arInfo.doc_id
        from
            article_info arInfo,
            (select keyword_id from keyword_info where keyword REGEXP #{keyword}) kid,
            article_to_keyword atk
        where atk.keyword_id = kid.keyword_id and atk.doc_id = arInfo.doc_id and arInfo.publish_year=#{year};
    </select>

    <select id="getYearList" resultType="string">
        select distinct publish_year
        from article_info
    </select>

    <select id="getAllAuthorIds" resultType="integer">
        select distinct author_id from author_info;
    </select>

    <select id="getAffiliationAnnualRef" resultType="integer">
        select coalesce(max(reference_count), 0) from article_info where doc_id = #{articleId} and publish_year = #{year};
    </select>

    <resultMap id="SubAuthorsPO" type="oasis.entity.entity.SubAuthorPO">
        <result property="authorName" column="author_name"/>
        <result property="authorId" column="author_id"/>
        <result property="hindex" column="author_hindex"/>
        <result property="activation" column="author_activation"/>
    </resultMap>

</mapper>