<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="oasis.data.entity.EntityMapper">

    <select id="smartSearchAuthor" resultMap="AuthorSearchedPO">
        select au_info.author_id, au_info.author_name, affiliation_name, au_info.author_hindex
        from author_info au_info, affiliation_info af_info
        where au_info.author_name = #{authorName} and au_info.affiliation_id = af_info.affiliation_id;
    </select>

    <select id="blurSearchAuthor" resultMap="AuthorSearchedPO">
        select au_info.author_id, au_info.author_name, affiliation_name, au_info.author_hindex
        from author_info au_info, affiliation_info af_info
        where au_info.author_name REGEXP #{authorName} and au_info.affiliation_id = af_info.affiliation_id;
    </select>

    <select id="smartSearchAffiliation" resultMap="AffiliationSearchedPO">
        select affiliation_id, affiliation_name
        from affiliation_info af_info
        where affiliation_name = #{affiliationName};
    </select>

    <select id="blurSearchAffiliation" resultMap="AffiliationSearchedPO">
        select affiliation_id, affiliation_name
        from affiliation_info af_info
        where affiliation_name REGEXP #{affiliationName};
    </select>

    <select id="searchPublication" resultMap="PublicationSearchedPO">
        select publication_id, publication_title, publication_hindex
        from publication_info
        where publication_title REGEXP #{publicationTitle} or publication_type = #{publicationTitle};
    </select>

    <select id="smartSearchKeyword" resultMap="KeywordSearchedPO">
        select keyword_id, keyword, keyword_search_count
        from keyword_info
        where keyword = #{keyword};
    </select>

    <select id="blurSearchKeyword" resultMap="KeywordSearchedPO">
        select keyword_id, keyword, keyword_search_count
        from keyword_info
        where keyword REGEXP #{keyword};
    </select>

    <select id="authorPortrait" resultMap="AuthorPortraitPO">
        select author_name, author_hindex, author_activation
        from author_info
        where author_id = #{authorId};
    </select>

    <select id="affiliationPortrait" resultMap="AffiliationPortraitPO">
        select affiliation_name, affiliation_activation, affiliation_hindex
        from affiliation_info
        where affiliation_id = #{affiliationId};
    </select>

    <select id="publicationPortrait" resultType="integer">
        select avg(publication_hindex)
        from publication_info
        where publication_type = #{publicationTitle};
    </select>

    <select id="keywordPortrait" resultMap="KeywordPortraitPO">
        select keyword, count(atk.doc_id) as num, keyword_activation
        from keyword_info k_info, article_to_keyword atk
        where k_info.keyword_id = #{keywordId} and k_info.keyword_id = atk.keyword_id;
    </select>

    <select id="getArticleReference" resultType="integer">
        select reference_count from article_info where doc_id = #{articleId};
    </select>

    <select id="recommendAuthors" resultType="string">
        select related_authors from author_info where author_id = #{curAuthorId};
    </select>

    <select id="getEntitiesNum" resultMap="EntitiesNumPO">
        select
            (select count(author_id) from author_info) authorNum,
            (select sum(reference_count) from article_info) referenceNum,
            (select count(doc_id) from article_info) articleNum,
            (select count(affiliation_id) from affiliation_info) affiliationNum;
    </select>

    <resultMap id="AuthorSearchedPO" type="oasis.entity.entity.AuthorSearchedPO">
        <result property="authorId" column="author_id"/>
        <result property="authorName" column="author_name"/>
        <result property="affiliation" column="affiliation_name"/>
        <result property="hindex" column="author_hindex"/>
    </resultMap>

    <resultMap id="AffiliationSearchedPO" type="oasis.entity.entity.AffiliationSearchedPO">
        <result property="affiliationId" column="affiliation_id"/>
        <result property="affiliationName" column="affiliation_name"/>
    </resultMap>

    <resultMap id="PublicationSearchedPO" type="oasis.entity.entity.PublicationSearchedPO">
        <result property="publicationId" column="publication_id"/>
        <result property="publicationTitle" column="publication_title"/>
        <result property="hindex" column="publication_hindex"/>
    </resultMap>

    <resultMap id="KeywordSearchedPO" type="oasis.entity.entity.KeywordSearchedPO">
        <result property="keywordId" column="keyword_id"/>
        <result property="keyword" column="keyword"/>
        <result property="searchTime" column="keyword_search_count"/>
    </resultMap>

    <resultMap id="AuthorPortraitPO" type="oasis.entity.entity.AuthorPortraitPO">
        <result property="name" column="author_name"/>
        <result property="hindex" column="author_hindex"/>
        <result property="activation" column="author_activation"/>
    </resultMap>

    <resultMap id="AffiliationPortraitPO" type="oasis.entity.entity.AffiliationPortraitPO">
        <result property="affiliationName" column="affiliation_name"/>
        <result property="activation" column="affiliation_activation"/>
    </resultMap>

    <resultMap id="KeywordPortraitPO" type="oasis.entity.entity.KeywordPortraitPO">
        <result property="keyword" column="keyword"/>
        <result property="articleNum" column="num"/>
        <result property="activation" column="keyword_activation"/>
    </resultMap>

    <resultMap id="EntitiesNumPO" type="oasis.entity.entity.EntitiesNumPO">
    </resultMap>

</mapper>